#nav-container{
  background-color: $black;
  // min-height: 10vh;
  // flex: 0 0 10%;
}

#links{
  list-style-type: none;
  display: none;
}

#links a{
  display: block;
  color: $light-blue;
  background: transparent;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  transition: 
    color 1s ease, 
    background 1s ease,
    padding 1s ease
}

#links a:hover{
  color: $light-grey;
  padding-left: 60px;
  background: $light-blue;
}

#nav-top{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
}

// #nav-top span,
// #nav-top i{
#logo{
  font-size: 25px;
  padding: 5px;
  color: $light-blue;
  transition:
    color 1s ease;
}

// #nav-top > div{
#logo{
  color: $light-blue;
  border: 3px solid;
  transition: 
    color 1s ease,
    background 1s ease;
}

#logo:hover{
  background: $light-blue;
  span, i{
    color: $light-grey;
  }
}

#menu-btn{
  padding: 5px;
  border: 2px solid $light-blue;
  cursor: pointer;
  align-self: center;
}
.bar1,
.bar2,
.bar3{
  height: 5px;
  width: 35px;
  background-color: $light-blue;
  margin: 5px 0;
  transition: transform 1s ease;
}
.turn .bar1{
  transform: rotate(-45deg) translate(-7px, 6px);
}
.turn .bar2{
  opacity: 0;
}
.turn .bar3{
  transform: rotate(45deg) translate(-7px, -8px);
}

@media screen and (min-width: 690px){
  #nav-container{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  #menu-btn{
    display: none;
  }
  #links{
    flex: 1 1 auto;
    display: flex !important;
    flex-wrap: wrap;
  }
  #links li{
    flex: 1 0 120px;
  }
  #links a{
    text-align: center;
  }
  #links a:hover{
    padding: 10px !important;
  }
  #nav-top{
    padding: 10px;
  }

}























