#postList{
	// max-width: $postList-width;
	// max-height: $postList-height;
	// min-width: $postList-width;
	// min-height: $postList-height;
	
  display: flex;
  flex-direction: column;
	flex: 1 0 80%;
  border: 3px solid black;
  overflow-y: scroll;
  padding: 40px 50px;
}