#postList{
	// max-width: $postList-width;
	// max-height: $postList-height;
	// min-width: $postList-width;
	// min-height: $postList-height;
	
	display: flex;
	flex: 1 1 auto;
	border: 3px solid black;
}