#signin{
  display: flex;
  justify-content: center;
  align-items: center;
  // height: $signin-form-height;
  flex: 1 0 auto;
}

#signin h3{
  font-size: 40px;
  color: $light-blue;
  text-align: center;
}

.input-field, .submit-field{
  display: flex;
  justify-content: flex-end;
  margin: 20px auto;
}

.input-field i{
  font-size: 30px;
  margin-right: 5px;
  color: $dark-blue;
  // align-self: center;
  // justify-content: center;
}
.input-field input{
  font-size: 25px;
  border-radius: 5px;
}
.input-field input::placeholder{
  color: #BBB;
}
.input-field input:focus{
  border-radius: 5px;
}
.submit-field button{
  font-size: 20px;
  color: $light-grey;
  background: $blue-green;
  padding: 10px;
  border: 2px solid $blue-green;
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;
  transition:
    background-color 1s ease,
    border 1s ease
}
.submit-field button:hover{
  background: transparent;
  color: $blue-green;
}
.submit-field a{
  text-decoration: none;
  align-self: flex-end;
  font-style: italic;
}