#tweetList{
	// max-width: $tweetList-width;
	// max-height: $tweetList-height;
	// min-width: $tweetList-width;
	// min-height: $tweetList-height;
	
  display: flex;
  flex-direction: column;
	flex: 1 0 80%;
  border: 3px solid black;
  overflow-y: scroll;
  padding: 40px 50px;
}
.tweetList-header{
  display: flex;
  justify-content: flex-start;
  flex: 0 0 10%;
}
.tweetList-body{
  display: flex;
  flex-direction: column;
  flex: 1 0;
}
.btn-filter{
  background-color: $sea-foam-green;
  border-radius: 50%;
  font-size: 20px;
  flex: 0 0 15%;
  margin: 0px 10px;
  border: 0px;
  cursor: pointer;
  transition: 
    background-color .5s ease,
    opacity .5s ease;
}
.btn-filter:hover{
  opacity: 0.6;
}
.filter-active{
  background-color: $blue-green;
}