
// color
$light-grey: #F5F5F5;
$light-blue: #2b98f0;
$dark-blue:  #456990;
$blue-green: #2EC4B6;
$light-green: #61FF7E;
$black: #191919;
$pink: #F8C0C8;


// header
$header-height: 10vh;
$header-background-color: black;

// banner
$banner-height: calc(100vh - #{$header-height});

// signup form
$signup-form-height: calc(100vh - #{$header-height});

// signin form
$signin-form-height: calc(100vh - #{$header-height});