// color
$lightest-grey: #f6f7f9;
$lighter-grey: #dddfe2;
$light-grey: #f5f5f5;
$dark-grey: #888888;
$grey: #aaaaaa;
$light-blue: #2b98f0;
$primary: #337ab7;
$dark-blue: #456990;
$blue-green: #2ec4b6;
$light-green: #61ff7e;
$sea-foam-green: #b9e3c6;
$aquamarine: #59c9a5;
$green: #6dce77;
$black: #191919;
$pink: #f8c0c8;

// header
$header-height: 5em;
$header-background-color: black;

// banner
$banner-height: calc(100vh - #{$header-height});

// signup form
$signup-form-height: calc(100vh - #{$header-height});

// main
$main-height: calc(100vh - #{$header-height});
$main-width: 100vw;

// profile
$profile-height: calc(100vh - #{$header-height});
$profile-width: 25vw;
// $profile-height: calc(100vh - #{$header-height} - 1em);
// $profile-width: calc(20vw - 1em);

// tweetList
$tweetList-height: calc(100vh - #{$header-height});
$tweetList-width: calc(100vw - #{$profile-width});
// $tweetList-height: calc(100vh - #{$header-height} - 1em);
// $tweetList-width: calc(100vw - #{$profile-width} - 1em);
