
// color
$lightest-grey: #F6F7F9;
$lighter-grey: #DDDFE2;
$light-grey: #F5F5F5;
$dark-grey:  #888888;
$grey:       #AAAAAA;
$light-blue: #2b98f0;
$primary: #337ab7;
$dark-blue:  #456990;
$blue-green: #2EC4B6;
$light-green: #61FF7E;
$sea-foam-green: #B9E3C6;
$aquamarine: #59C9A5;
$black: #191919;
$pink: #F8C0C8;


// header
$header-height: 5em;
$header-background-color: black;

// banner
$banner-height: calc(100vh - #{$header-height});

// signup form
$signup-form-height: calc(100vh - #{$header-height});

// main
$main-height: calc(100vh - #{$header-height});
$main-width: 100vw;

// profile
$profile-height: calc(100vh - #{$header-height});
$profile-width: 25vw;
// $profile-height: calc(100vh - #{$header-height} - 1em);
// $profile-width: calc(20vw - 1em);

// postList
$postList-height: calc(100vh - #{$header-height});
$postList-width: calc(100vw - #{$profile-width});
// $postList-height: calc(100vh - #{$header-height} - 1em);
// $postList-width: calc(100vw - #{$profile-width} - 1em);
